# Ignore my personal helper script (starts a python virtual environment on a finicky machine)
grab-weather-script.sh


# Ignore my output files and personal note
shizuoka_wx_data.xlsx
Jds_Note.txt


# Ignore OSX files
.DS_Store
