# Ignore my personal helper script (starts a python virtual environment on a finicky machine)
grab-weather-script.sh


# Ignore my personal output files
shizuoka_wx_data.xlsx


# Ignore OSX files
.DS_Store